[Unit]
Description=JP Monitoring Agent
After=network.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/lib/jp-monitoring-agent/jp-monitoring-agent
Restart=on-failure
RestartSec=5
User=root
# Optional: if you want logs in journalctl
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
